.sign-in{
  margin: 4rem 2rem;
  display: flex;
  flex-direction: column;

  & h2 {
    font-size: 3.2rem;
    margin-bottom: 1rem;
  }

  & span {
    font-size: 2rem;
  }

  & .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}